<!DOCTYPE html>
<html>

	<head>
		<title>轮播图</title>
		<meta name="referrer" content="no-referrer">
		<link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
		<link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
		<link rel='stylesheet' href='/stylesheets/ionicons.min.css' />
		<link rel='stylesheet' href='/admin-lte/dist/css/AdminLTE.min.css' />
		<link rel='stylesheet' href='/admin-lte/dist/css/skins/skin-blue.min.css' />
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">

			<%- include( './header.ejs' ) %>

			<%- include( './menu.ejs' ) %>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>添加图片</h1>
					<ol class="breadcrumb">
						<li>
							<a href="#"><i class="fa fa-dashboard"></i> Level</a>
						</li>
						<li class="active">Here</li>
					</ol>
				</section>

				<!-- Main content -->
				<section class="content">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">Horizontal Form</h3>
						</div>
						<!-- /.box-header -->
						<!-- form start -->
						<form class="form-horizontal" enctype = "multipart/form-data"  method="post" action="bannerAddAction">
							<div class="box-body">
								<div class="form-group">
									<label for="bannerId" class="col-sm-2 control-label">轮播图ID</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="bannerId" id="bannerId" placeholder="轮播图ID">
									</div>
								</div>
								
								<div class="form-group">
									<label for="bannerUrl" class="col-sm-2 control-label">上传图片</label>
									<div class="col-sm-10">
										<input type="file" class="form-control" name="bannerUrl" id="bannerUrl" placeholder="轮播图">
									</div>
								</div>
								
								<div class="form-group">
									<label for="" class="col-sm-2 control-label">图片展示</label>
									
								</div>

							<!-- /.box-body -->
							<div class="box-footer">
								<label for="inputEmail3" class="col-sm-2 control-label sr-only">Email</label>
								<button type="submit" class="btn btn-info">添加图片</button>
							</div>
							<!-- /.box-footer -->
						</form>
					</div>
				</section>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<%- include( './footer.ejs' ) %>

			<%- include( './sidebar.ejs' ) %>
		</div>
	</body>
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/javascripts/app.min.js"></script>
</html>