@import "@/lib/reset.scss";
.mint-swipe{
    @include rect(100%, 2rem);
    img{
        @include rect(100%, auto);
    }
}

.navList{
    @include rect(100%, 0.75rem);
    margin-bottom: 0.1rem;
    ul{
        li{
            @include rect(20%, auto);
            float: left;
            img{
                @include rect(100%, auto);
            }
        }
    }
}

.hot-list{
    @include rect(100%, 4.6rem);
    clear: both;  
}

.list-pic{
   @include rect(100%, 0.29rem);
   margin: 0.04rem 0;
   clear: both;  
     img{
        @include rect(100%, 0.29rem);
    }       
}
 .List-pic{
        @include rect(100%, 1.52rem);
        img{
            @include rect(100%, auto);
        }
    }
.jewelryList{
    @include rect(100%, auto);
    clear: both;  
    ul{
        @include rect(100%, auto);
        li{
            @include rect(50%, auto);
            float: left;
            img{
                @include rect(100%, auto);
            }
            dl{
                dt{
                    @include font-size(0.16rem);
                    @include line-height(0.2rem)
                }
                dd{
                    @include font-size(0.2rem);
                    @include text-color(#f00)
                }
            }
        }
    }
}

.watchList{
    @include rect(100%, auto);
    clear: both;  
    ul{
        @include rect(100%, auto);
        li{
            @include rect(50%, auto);
            float: left;
            img{
                @include rect(100%, auto);
            }
            dl{
                dt{
                    @include font-size(0.16rem);
                    @include line-height(0.2rem)
                }
                dd{
                    @include font-size(0.2rem);
                    @include text-color(#f00)
                }
            }
        }
    }
}


