@import "@/lib/reset.scss";
.LoginTitle{
    @include font-size(0.20rem);   
    img{
        @include rect(auto, 0.4rem);
        float: left;
        margin: 0.05rem 0.05rem 0 0.05rem;
    }
    span{
        float: left;
    }
}